In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("banco.db")

In [3]:
cur = con.cursor()

In [4]:
res = cur.execute("SELECT name FROM sqlite_master")
exists = any("movie" in record for record in res)

In [5]:
# if not exists:
#     cur.execute("CREATE TABLE movie(title, year, score)")
cur.execute("CREATE TABLE IF NOT EXISTS movie(title, year, score)")

In [6]:
res = cur.execute("SELECT name FROM sqlite_master")
#res.fetchone()
res.fetchall()

[('movie',)]

In [7]:
cur.execute("""INSERT INTO movie(title, year,score) VALUES ("Gladador", 2002, 9.9)""")

In [8]:
con.commit()

In [9]:
cur.execute("SELECT * FROM movie")
cur.fetchall()

[('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('Gladador', 2002, 9.9)]

In [10]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

con.commit()

In [11]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

In [12]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()

In [13]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0)]

In [15]:
res = cur.execute("SELECT * FROM movie WHERE score > 8")
res.fetchall()

[('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('Gladador', 2002, 9.9),
 ('Monty Python and the Holy Grail', 1975, 8.2)]

In [20]:
cur.execute("UPDATE movie SET title = 'Gladiador' WHERE title = 'Gladador'")
res = cur.execute("SELECT * FROM movie WHERE score > 8")
res.fetchall()

[('Gladiador', 2002, 9.0),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('Gladiador', 2002, 9.0),
 ('Monty Python and the Holy Grail', 1975, 8.2)]

In [21]:
con.commit()

In [ ]:
con.close()