In [1]:
import sqlite3

In [15]:
con = sqlite3.connect("banco.db")

In [16]:
cur = con.cursor()

In [4]:
result = cur.execute("SELECT name FROM sqlite_master")
exists = any("movie" in record for record in result)

In [5]:
# if not exists:
#     cur.execute("CREATE TABLE movie(title, year, score)")
cur.execute("CREATE TABLE IF NOT EXISTS movie(title, year, score)")

In [6]:
res = cur.execute("SELECT name FROM sqlite_master")
# res.fetchone()
res.fetchall()

[('movie',)]

In [7]:
cur.execute(
    """
INSERT INTO movie(title, year, score)
VALUES ('The Shawshank Redemption', 1994, 9.3)
            """
)

In [8]:
con.commit()

In [9]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3)]

In [10]:
cur.execute(
    """
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
"""
)
con.commit()

In [11]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

In [12]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()

In [13]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0)]

In [17]:
result = cur.execute("SELECT * FROM movie WHERE score > 8.0")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2)]

In [18]:
cur.execute("UPDATE movie SET score = 9.0 WHERE title = 'The Shawshank Redemption'")
con.commit()
cur.execute("SELECT * FROM movie WHERE title = 'The Shawshank Redemption'").fetchall()

[('The Shawshank Redemption', 1994, 9.0),
 ('The Shawshank Redemption', 1994, 9.0),
 ('The Shawshank Redemption', 1994, 9.0)]

In [14]:
con.close()