In [7]:
import json
import oracledb
import sqlalchemy

In [36]:
def get_credentials():

    with open("credenciais.json") as f:
        return json.load(f)

In [58]:
def create_oracle_connection():
    dsn_str = oracledb.makedsn("oracle.fiap.com.br", 1521, "ORCL")
    credenciais = get_credentials()
    con = oracledb.connect(
        user=credenciais["user"], password=credenciais["pass"], dsn=dsn_str
    )
    return con

In [59]:
def create_oracle_connection_with_sql_alchemy():
    credenciais = get_credentials()
    user = credenciais["user"]
    password = credenciais["pass"]
    from sqlalchemy import create_engine

    sync_engine = create_engine(
        f"oracle+oracledb://{user}:{password}@oracle.fiap.com.br:1521[/dbname][?service_name=ORCL"
    )
    return sync_engine

In [37]:
con = create_oracle_connection()
cur = con.cursor()

In [12]:
cur.execute(
    "CREATE TABLE movie(title VARCHAR2(100), year NUMBER(4), score NUMBER(3,1))"
)

In [13]:
cur.execute(
    """
INSERT INTO movie(title, year, score)
VALUES ('The Shawshank Redemption', 1994, 9.3)
            """
)

In [14]:
cur.execute("SELECT * from movie").fetchall()

[('The Shawshank Redemption', 1994, 9.3)]

In [15]:
con.commit()

In [16]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3)]

In [ ]:
cur.execute(
    """
    INSERT INTO movie (title, year, score) VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
"""
)
con.commit()

In [23]:
cur.execute(
    """
    INSERT INTO movie (title, year, score) VALUES
        ('And Now for Something Completely Different', 1971, 7.5)
    """
)
con.commit()

In [24]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

In [26]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(:1, :2, :3)", data)
con.commit()

In [27]:
result = cur.execute("SELECT * FROM movie")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5),
 ('Monty Python Live at the Hollywood Bowl', 1982, 7.9),
 ("Monty Python's The Meaning of Life", 1983, 7.5),
 ("Monty Python's Life of Brian", 1979, 8.0)]

In [28]:
# recuperando todos os dados com score maior que 8
target = 8.0
records = []
for result in cur.execute("SELECT * FROM movie"):
    if result[-1] > target:
        records.append(result)

records

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2)]

In [29]:
result = cur.execute("SELECT * FROM movie WHERE score > 8.0")
result.fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('Monty Python and the Holy Grail', 1975, 8.2)]

In [30]:
cur.execute("UPDATE movie SET score = 9.0 WHERE title = 'The Shawshank Redemption'")

In [31]:
con.commit()

In [32]:
cur.execute("SELECT * FROM movie WHERE title = 'The Shawshank Redemption'").fetchall()

[('The Shawshank Redemption', 1994, 9.0)]

In [38]:
con.close()

In [34]:
# É esperado que tenhamos um erro, pois a conexão foi interrompida.
cur.execute("SELECT * FROM movie").fetchall()

InterfaceError: DPY-1001: not connected to database

# Utilizando o pandas para trabalhar com o banco de dados

In [39]:
import pandas as pd

In [40]:
bd_carros = pd.read_csv("bd.csv")  # , parse_dates=["Report Received Date"])
bd_carros["Potentially Affected"] = (
    bd_carros["Potentially Affected"].fillna(0).astype("int")
)
bd_carros.head()

,Report Received Date,Manufacturer,Component,Recall Type,Potentially Affected
0,01/06/2023,Triple E Recreational Vehicles,ELECTRICAL SYSTEM,Vehicle,341
1,01/05/2023,"Volvo Car USA, LLC",STEERING,Vehicle,74
2,12/29/2022,"Volkswagen Group of America, Inc.",ELECTRICAL SYSTEM,Vehicle,1042
3,12/29/2022,Indian Motorcycle Company,STRUCTURE,Vehicle,4653
4,12/29/2022,Hendrickson USA. L.L.C.,"SERVICE BRAKES, AIR",Equipment,12

In [41]:
bd_carros.columns = [r.lower().replace(" ", "_") for r in bd_carros.columns]

In [42]:
bd_carros.head()

,report_received_date,manufacturer,component,recall_type,potentially_affected
0,01/06/2023,Triple E Recreational Vehicles,ELECTRICAL SYSTEM,Vehicle,341
1,01/05/2023,"Volvo Car USA, LLC",STEERING,Vehicle,74
2,12/29/2022,"Volkswagen Group of America, Inc.",ELECTRICAL SYSTEM,Vehicle,1042
3,12/29/2022,Indian Motorcycle Company,STRUCTURE,Vehicle,4653
4,12/29/2022,Hendrickson USA. L.L.C.,"SERVICE BRAKES, AIR",Equipment,12

In [45]:
bd_carros.potentially_affected.max()

np.int64(32000000)

In [43]:
bd_carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26590 entries, 0 to 26589
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   report_received_date  26590 non-null  object
 1   manufacturer          26590 non-null  object
 2   component             26590 non-null  object
 3   recall_type           26590 non-null  object
 4   potentially_affected  26590 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.0+ MB

In [44]:
con = create_oracle_connection()
cur = con.cursor()

In [ ]:
cur.execute(
    """
    CREATE TABLE cars(
        report_received_date VARCHAR(10),
        manufacturer VARCHAR(100),
        component VARCHAR(100),
        recall_type VARCHAR(100),
        potentially_affected NUMBER(10)
        )
    """
)

In [53]:
data = bd_carros.head().to_records(index=False).tolist()
cur.executemany(
    """
    INSERT INTO cars VALUES(:1, :2, :3, :4, :5)
    """,
    data,
)
con.commit()